<!DOCTYPE html>
<html>
  <head>
    <title> Login </title>
  </head>
  <body>
    <form id='login-form'>
      <input name='username', type='text', id='username'>
      <input name='password', type='password', id='password'>
      <button type='submit'>Login</button>
    </form>
  </body>
  <script>
    const electron = require('electron');
    const {ipcRenderer} = electron;
    
    const form = document.querySelector('form');
    form.addEventListener('submit', submitForm);

    function submitForm(e) {
      e.preventDefault();
      const username = document.getElementById("username").value;
      const password = document.getElementById("password").value;
      const login = {username: username, password: password};
      ipcRenderer.send('login:validate', login);
    }
  </script>
</html>