<!DOCTYPE html>
<html>
  <head>
    <title> New Product </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../assets/stylesheets/bootstrap/4.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/stylesheets/global.css" />
    <link rel="stylesheet" href="../assets/stylesheets/nativize.css" />
    <link rel="stylesheet" href="../assets/stylesheets/navbar.css" />

    
    <script>let $ = require('jquery');</script>
    <script>require('popper.js');</script>
    <script>require('bootstrap');</script>
    <script>require('bootstrap-notify');</script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 style="margin: 20px 0;"> New Product </h3>
          <form id="new-product-add" class="form-row">
            <div class="col-10">          
              <div class="form-group row">
                <label for="name" class="col-3 col-form-label">Name</label> 
                <div class="col-6">
                  <input id="name" name="name" placeholder="Product Name" type="text" required="required" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label for="quantity" class="col-3 col-form-label">Quantity</label> 
                <div class="col-6">
                  <input id="quantity" name="quantity" type="text" class="form-control" value="0">
                </div>
              </div>
              <div class="form-group row">
                <label for="minimum_quantity" class="col-3 col-form-label">Minimum Quantity</label> 
                <div class="col-6">
                  <input id="minimum_quantity" name="minimum_quantity" type="text" class="form-control" value="0">
                </div>
              </div>
              <div class="form-group row">
                <label for="location" class="col-3 col-form-label">Location</label> 
                <div class="col-6">
                  <input id="location" name="location" type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label for="others" class="col-3 col-form-label">Others</label> 
                <div class="col-6">
                  <input id="others" name="others" type="textarea" class="form-control">
                </div>
              </div> 
              <div class="form-group row">
                <div class="col-4">
                  <button id="new-product-add-btn" name="submit" type="submit" class="btn btn-success">Add</button>
                  <a href='#' id="npw-delete" class="btn btn-danger">Delete</a>
                </div>
              </div>
            </div>
          </form> 
        </div>      
      </div>
    </div>
    <script type="text/javascript">
      require('../renderer-process/new-product')
    </script>
  </body>
</html>