<!DOCTYPE html>
<html>
  <head>
    <title> New User </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../assets/stylesheets/bootstrap/4.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/stylesheets/global.css" />
    <link rel="stylesheet" href="../assets/stylesheets/nativize.css" />
    <link rel="stylesheet" href="../assets/stylesheets/navbar.css" />

    
    <script>let $ = require('jquery');</script>
    <script>require('popper.js');</script>
    <script>require('bootstrap');</script>
    <script>require('bootstrap-notify');</script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h3 style="margin: 20px 0;"> New User </h3>
        <form id="new-user-add" class="form-row">
          <div class="col-6">          
            <div class="form-group row">
              <label for="name" class="col-3 col-form-label">Name</label> 
              <div class="col-8">
                <input id="name" name="name" placeholder="User Name" type="text" required="required" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="type" class="col-3 col-form-label">Type</label> 
              <div class="col-8">
                <select id="type" name="type" class="custom-select">
                  <option value="Customer">Customer</option>
                  <option value="Supplier">Supplier</option>
                  <option value="Others">Others</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="address" class="col-3 col-form-label">Address</label> 
              <div class="col-8">
                <textarea id="address" name="address" cols="40" rows="2" class="form-control"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label for="phone" class="col-3 col-form-label">Phone</label> 
              <div class="col-8">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa-mobile-phone"></i>
                    </div>
                  </div> 
                  <input id="phone" name="phone" type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="state" class="col-3 col-form-label">State</label> 
              <div class="col-8">
                <select id="state" name="state" class="custom-select">
                  <option value="Tamilnadu">Tamilnadu</option>
                  <option value="Kerala">Kerala</option>
                  <option value="Karnataka">Karnataka</option>
                  <option value="Andhra Pradesh">Andhra Pradesh</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="company_id" class="col-3 col-form-label">Company</label> 
              <div class="col-8">
                <select id="company_id" name="company_id" class="custom-select">
                  
                </select>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label for="bank_name" class="col-4 col-form-label">Bank Name</label> 
              <div class="col-8">
                <input id="bank_name" name="bank_name" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="bank_account_no" class="col-4 col-form-label">Bank Account No</label> 
              <div class="col-8">
                <input id="bank_account_no" name="bank_account_no" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="bank_branch_name" class="col-4 col-form-label">Bank Branch Name</label> 
              <div class="col-8">
                <input id="bank_branch_name" name="bank_branch_name" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="bank_ifsc_code" class="col-4 col-form-label">Bank IFSC Code</label> 
              <div class="col-8">
                <input id="bank_ifsc_code" name="bank_ifsc_code" type="text" class="form-control">
              </div>
            </div> 
          </div>
          <div class="form-group row">
            <div class="col-5">
              <button id="new-user-add-btn" name="submit" type="submit" class="btn btn-success">Add</button>
            </div>
            <div class="col-5">
              <a href='#' id="nuw-delete" class="btn btn-danger">Delete</a>
            </div>
            </div>
          </div>
        </form>        
      </div>
    </div>
    <script type="text/javascript">
      require('../renderer-process/new-user')
    </script>
  </body>
</html>